name: emby_viwer
description: "A cross-platform Emby media client built with Flutter. Supports iOS, Android."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations: # i18n
    sdk: flutter
  cupertino_icons: ^1.0.8
  go_router: ^17.1.0 # Router
  dio: ^5.9.1 # HTTP Request

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  generate: true